# --- Institution ---
INSTITUTION_FILENAME=
MY_INSTITUTION=

# --- Keys ---
DATAVERSE_TOKEN=
SANDBOX_TOKEN=

# --- User ---
USER_EMAIL=
USER_NAME=
USER_TITLE=
USER_CREDENTIALS=

# --- Toggles ---
TEST_ENVIRONMENT=true
ONLY_MY_INSTITUTION=true
TEST_REMEDIATION=true
TEST_EMAIL=false
DRAFT_EMAIL=false
RETRIEVE_JSON=true
SPLIT_INSTITUTION_OUTPUT=false
ROR_PLUGIN_ENABLED=true

# --- Recuration ---
RECURATION_ORCID=true
RECURATION_ROR=true
RECURATION_NAMES=true
RECURATION_KEYWORDS=true
RECURATION_PUNCTUATION=true
RECURATION_FUNDING=true
RECURATION_WORKS=true
RECURATION_LICENSES=true
